<app-navbar [treeOfItems]="navbarService.getNavbarItems()"></app-navbar>
<div class="col-lg-1 mt-2">
  <form ngNativeValidate (ngSubmit)="filterLodgings()" class="form-create-admin">
    <h2>Now select your ideal Lodging</h2>
    <div class="form-group">
      <label for="checkInInput">Check In Date</label>
      <input type="date" class="form-control" id="checkInInput" name="checkInDate"
             [ngModel]="this.checkInDate | date:'yyyy-MM-dd'"
             (ngModelChange)="this.checkInDate = $event" required="required">
    </div>
    <div class="form-group">
      <label for="checkOutInput">Check Out Date</label>
      <input type="date" class="form-control" id="checkOutInput" name="checkOutDate"
             [ngModel]="this.checkOutDate | date:'yyyy-MM-dd'"
             (ngModelChange)="this.checkOutDate = $event" required="required">
    </div>

    <div class="form-group">
      <label for="numberOfAdultsInput">Number of Adults</label>
      <input type="number" min="0" class="form-control" id="numberOfAdultsInput" name="numberOfAdults"
             [(ngModel)]="lodgingFilter.numberOfAdults" required="required">
    </div>
    <div class="form-group">
      <label for="numberOfChildrenInput">Number of Children</label>
      <input type="number" min="0" class="form-control" id="numberOfChildrenInput" name="numberOfChildren"
             [(ngModel)]="lodgingFilter.numberOfChildren" required="required">
    </div>
    <div class="form-group">
      <label for="numberOfBabiesInput">Number of Babies</label>
      <input type="number" min="0" class="form-control" id="numberOfBabiesInput" name="numberOfBabies"
             [(ngModel)]="lodgingFilter.numberOfBabies" required="required">
    </div>
    <div class="form-group">
      <label for="numberOfRetiredInput">Number of Retired</label>
      <input type="number" min="0" class="form-control" id="numberOfRetiredInput" name="numberOfRetired"
             [(ngModel)]="lodgingFilter.numberOfRetired" required="required">
    </div>
    <button type="submit" class="btn btn-primary mb-4">Search</button>
  </form>

  <div class="align-self-center mb-3">
    <div class="alert alert-light" role="alert" *ngIf="lodgingsToShow.length == 0 && alreadySearch">
      No tourist point was found
    </div>
    <div *ngFor="let lod of lodgingsToShow" class="card" style="margin-top: 30px">
      <img class="card-img-top" [src]="sanitizer.bypassSecurityTrustUrl(lod.images[0])" width="10" height="150" alt="star">
      <div class="card-body">
        <h5 class="card-title">{{lod.name}}</h5>
        <b *ngIf="lod.reviewsCount!=0">{{lod.numberOfStars}}/5 pts.</b>
        <h6>Cost per night: {{lod.costPerNight}}</h6>
        <h6>Final price: {{lod.calculatedPrice}}</h6>
        <p class="card-text">{{lod.description}}</p>

        <label class="btn btn-info" (click)="goToLodging(lod)">Select this Lodging</label>
      </div>
    </div>
  </div>
</div>
